.elementor-kit-7 {
  --e-global-color-primary: #050706;
  --e-global-color-secondary: #cca75b;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #cca75b;
  --e-global-color-b8d5379: #cca75b;
  --e-global-color-8bc0ed0: #201e1e;
  --e-global-color-d9725cf: #222222;
  --e-global-color-cbc7fa9: #050706;
  --e-global-color-bc58842: #1c6344;
  --e-global-color-e990a77: #ffffff;
  --e-global-color-315636b: #7878782b;
  --e-global-color-b5d40db: #cca75b;
  --e-global-color-50271df: #f4f4f4;
  --e-global-typography-primary-font-family: "Playfair Display";
  --e-global-typography-primary-font-size: 100px;
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Playfair Display";
  --e-global-typography-secondary-font-size: 52px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Inter";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-fa93100-font-family: "Playfair Display";
  --e-global-typography-fa93100-font-size: 52px;
  --e-global-typography-fa93100-font-weight: 600;
  --e-global-typography-fa93100-line-height: 1.2em;
  --e-global-typography-dbf7e6b-font-family: "Lato";
  --e-global-typography-dbf7e6b-font-size: 14px;
  --e-global-typography-dbf7e6b-font-weight: 400;
  --e-global-typography-dbf7e6b-text-transform: uppercase;
  --e-global-typography-dbf7e6b-letter-spacing: 2px;
  --e-global-typography-4636050-font-family: "Inter";
  --e-global-typography-4636050-font-size: 16px;
  --e-global-typography-4636050-font-weight: 300;
  --e-global-typography-7b06b2f-font-family: "Inter";
  --e-global-typography-7b06b2f-font-size: 14px;
  --e-global-typography-7b06b2f-font-weight: 600;
  --e-global-typography-63123a8-font-family: "Inter";
  --e-global-typography-63123a8-font-size: 16px;
  --e-global-typography-63123a8-font-weight: 300;
  --e-global-typography-63123a8-line-height: 1.8em;
  --e-global-typography-8978a95-font-family: "Playfair Display";
  --e-global-typography-8978a95-font-size: 90px;
  --e-global-typography-8978a95-font-weight: 600;
  --e-global-typography-8978a95-line-height: 1em;
  --e-global-typography-06643f3-font-family: "Inter";
  --e-global-typography-06643f3-font-size: 20px;
  --e-global-typography-06643f3-font-weight: 300;
  --e-global-typography-06643f3-font-style: italic;
  --e-global-typography-06643f3-line-height: 1.3em;
  --e-global-typography-c4eef70-font-family: "Inter";
  --e-global-typography-c4eef70-font-size: 16px;
  --e-global-typography-c4eef70-font-weight: 400;
  --e-global-typography-c4eef70-line-height: 1.8em;
  --e-global-typography-cec7cdf-font-family: "Inter";
  --e-global-typography-cec7cdf-font-size: 14px;
  --e-global-typography-cec7cdf-font-weight: 600;
  --e-global-typography-b93c5f3-font-family: "Playfair Display";
  --e-global-typography-b93c5f3-font-size: 28px;
  --e-global-typography-b93c5f3-font-weight: 600;
  --e-global-typography-a13d08e-font-family: "Playfair Display";
  --e-global-typography-a13d08e-font-size: 32px;
  --e-global-typography-a13d08e-font-weight: 600;
  --e-global-typography-4106b3f-font-family: "Inter";
  --e-global-typography-4106b3f-font-size: 18px;
  --e-global-typography-4106b3f-font-weight: 600;
  --e-global-typography-4106b3f-line-height: 1em;
  --e-global-typography-52049af-font-family: "Playfair Display";
  --e-global-typography-52049af-font-size: 24px;
  --e-global-typography-52049af-font-weight: 600;
  --e-global-typography-52049af-line-height: 1em;
  --e-global-typography-455781c-font-family: "Inter";
  --e-global-typography-455781c-font-size: 160px;
  --e-global-typography-455781c-font-weight: 600;
  --e-global-typography-25dc576-font-family: "Playfair Display";
  --e-global-typography-25dc576-font-size: 24px;
  --e-global-typography-25dc576-font-weight: 600;
  --e-global-typography-25dc576-line-height: 1.4em;
  --e-global-typography-c02d827-font-family: "Playfair Display";
  --e-global-typography-c02d827-font-size: 26px;
  --e-global-typography-c02d827-font-weight: 600;
  --e-global-typography-c02d827-line-height: 1em;
  --e-global-typography-d4e751f-font-family: "Playfair Display";
  --e-global-typography-d4e751f-font-size: 26px;
  --e-global-typography-d4e751f-font-weight: 600;
  --e-global-typography-e6a91cb-font-family: "Inter";
  --e-global-typography-e6a91cb-font-size: 32px;
  --e-global-typography-e6a91cb-font-weight: 600;
  --e-global-typography-e6a91cb-line-height: 1em;
  --e-global-typography-2d834ed-font-family: "Playfair Display";
  --e-global-typography-2d834ed-font-size: 20px;
  --e-global-typography-2d834ed-font-weight: 600;
  color: var(--e-global-color-8bc0ed0);
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
  background-color: var(--e-global-color-b8d5379);
  font-family: var(--e-global-typography-dbf7e6b-font-family), Sans-serif;
  font-size: var(--e-global-typography-dbf7e6b-font-size);
  font-weight: var(--e-global-typography-dbf7e6b-font-weight);
  text-transform: var(--e-global-typography-dbf7e6b-text-transform);
  letter-spacing: var(--e-global-typography-dbf7e6b-letter-spacing);
  color: var(--e-global-color-e990a77);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 18px 24px 18px 24px;
}
.elementor-kit-7 e-page-transition {
  background-color: #ffbc7d;
}
.elementor-kit-7 a {
  color: var(--e-global-color-b8d5379);
}
.elementor-kit-7 h1 {
  color: var(--e-global-color-cbc7fa9);
  font-family: "Playfair Display", Sans-serif;
  font-size: 100px;
  font-weight: 600;
}
.elementor-kit-7 h2 {
  color: var(--e-global-color-cbc7fa9);
  font-family: "Playfair Display", Sans-serif;
  font-size: 52px;
  font-weight: 600;
}
.elementor-kit-7 h3 {
  color: var(--e-global-color-cbc7fa9);
  font-family: "Playfair Display", Sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.elementor-kit-7 h4 {
  color: var(--e-global-color-d9725cf);
  font-family: "Playfair Display", Sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.elementor-kit-7 label {
  color: var(--e-global-color-d9725cf);
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.8em;
}
.elementor-kit-7 input:not([type="button"]):not([type="submit"]),
.elementor-kit-7 textarea,
.elementor-kit-7 .elementor-field-textual {
  font-family: var(--e-global-typography-dbf7e6b-font-family), Sans-serif;
  font-size: var(--e-global-typography-dbf7e6b-font-size);
  font-weight: var(--e-global-typography-dbf7e6b-font-weight);
  text-transform: var(--e-global-typography-dbf7e6b-text-transform);
  letter-spacing: var(--e-global-typography-dbf7e6b-letter-spacing);
  color: var(--e-global-color-8bc0ed0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-315636b);
  border-radius: 0px 0px 0px 0px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
@media (max-width: 1024px) {
  .elementor-kit-7 {
    --e-global-typography-fa93100-font-size: 42px;
    --e-global-typography-8978a95-font-size: 72px;
    --e-global-typography-8978a95-line-height: 1em;
    --e-global-typography-06643f3-font-size: 16px;
  }
  .elementor-kit-7 button,
  .elementor-kit-7 input[type="button"],
  .elementor-kit-7 input[type="submit"],
  .elementor-kit-7 .elementor-button {
    font-size: var(--e-global-typography-dbf7e6b-font-size);
    letter-spacing: var(--e-global-typography-dbf7e6b-letter-spacing);
  }
  .elementor-kit-7 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-7 textarea,
  .elementor-kit-7 .elementor-field-textual {
    font-size: var(--e-global-typography-dbf7e6b-font-size);
    letter-spacing: var(--e-global-typography-dbf7e6b-letter-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-7 {
    --e-global-typography-4636050-font-size: 15px;
    --e-global-typography-8978a95-font-size: 54px;
    --e-global-typography-25dc576-font-size: 18px;
  }
  .elementor-kit-7 button,
  .elementor-kit-7 input[type="button"],
  .elementor-kit-7 input[type="submit"],
  .elementor-kit-7 .elementor-button {
    font-size: var(--e-global-typography-dbf7e6b-font-size);
    letter-spacing: var(--e-global-typography-dbf7e6b-letter-spacing);
  }
  .elementor-kit-7 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-7 textarea,
  .elementor-kit-7 .elementor-field-textual {
    font-size: var(--e-global-typography-dbf7e6b-font-size);
    letter-spacing: var(--e-global-typography-dbf7e6b-letter-spacing);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
